schemas/Defs/FleckDef.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="https://github.com/sharky98/RWSchema/Defs" elementFormDefault="qualified" targetNamespace="https://github.com/sharky98/RWSchema/Defs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="CommonElements.xsd" />
  <xs:complexType name="FleckDef">
    <xs:choice minOccurs="1" maxOccurs="unbounded">
      <xs:element name="fleckSystemClass" type="xs:string" />
      <xs:element name="altitudeLayer" type="AltitudeLayer" />
      <xs:element name="altitudeLayerIncOffset" type="xs:float" />
      <xs:element name="drawGUIOverlay" type="xs:boolean" />
      <xs:element name="graphicData" type="GraphicData" />
      <xs:element name="randomGraphics">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="li" type="GraphicData" />
          </xs:sequence>
          <xs:attribute name="MayRequire" type="xs:string" />
          <xs:attribute name="MayRequireAnyOf" type="xs:string" />
        </xs:complexType>
      </xs:element>
      <xs:element name="realTime" type="xs:boolean" />
      <xs:element name="attachedToHead" type="xs:boolean" />
      <xs:element name="useAttachLink" type="xs:boolean" />
      <xs:element name="fadeInTime" type="xs:float" />
      <xs:element name="solidTime" type="xs:float" />
      <xs:element name="fadeOutTime" type="xs:float" />
      <xs:element name="acceleration" type="Vector3" />
      <xs:element name="speedPerTime">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="\s*-?\d+(\.\d+)?\s*(~\s*-?\d+(\.\d+)?\s*)?" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="growthRate" type="xs:float" />
      <xs:element name="scalers">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="li" type="CurvedScaler" />
          </xs:sequence>
          <xs:attribute name="MayRequire" type="xs:string" />
          <xs:attribute name="MayRequireAnyOf" type="xs:string" />
        </xs:complexType>
      </xs:element>
      <xs:element name="collide" type="xs:boolean" />
      <xs:element name="landSound" type="xs:string" />
      <xs:element name="unattachedDrawOffset" type="Vector3" />
      <xs:element name="attachedDrawOffset" type="Vector3" />
      <xs:element name="rotateTowardsMoveDirection" type="xs:boolean" />
      <xs:element name="rotateTowardsMoveDirectionExtraAngle" type="xs:float" />
      <xs:element name="drawOffscreen" type="xs:boolean" />
      <xs:element name="archHeight">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="\s*-?\d+(\.\d+)?\s*(~\s*-?\d+(\.\d+)?\s*)?" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="archDuration">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="\s*-?\d+(\.\d+)?\s*(~\s*-?\d+(\.\d+)?\s*)?" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="scalingAnchor" type="Vector3" />
      <xs:element name="defName" type="xs:string" />
      <xs:element name="label" type="xs:string" />
      <xs:element name="description" type="xs:string" />
      <xs:element name="descriptionHyperlinks">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="li" type="DefHyperlink" />
          </xs:sequence>
          <xs:attribute name="MayRequire" type="xs:string" />
          <xs:attribute name="MayRequireAnyOf" type="xs:string" />
        </xs:complexType>
      </xs:element>
      <xs:element name="ignoreConfigErrors" type="xs:boolean" />
      <xs:element name="ignoreIllegalLabelCharacterConfigError" type="xs:boolean" />
      <xs:element name="modExtensions">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="li" type="DefModExtension" />
          </xs:sequence>
          <xs:attribute name="MayRequire" type="xs:string" />
          <xs:attribute name="MayRequireAnyOf" type="xs:string" />
        </xs:complexType>
      </xs:element>
    </xs:choice>
    <xs:attribute name="Name" type="xs:string" />
    <xs:attribute name="ParentName" type="xs:string" />
    <xs:attribute name="Class" type="xs:string" />
    <xs:attribute name="MayRequire" type="xs:string" />
    <xs:attribute name="MayRequireAnyOf" type="xs:string" />
  </xs:complexType>
</xs:schema>