schemas/Defs/HediffDef.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="https://github.com/sharky98/RWSchema/Defs" elementFormDefault="qualified" targetNamespace="https://github.com/sharky98/RWSchema/Defs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="CommonElements.xsd" />
  <xs:complexType name="HediffDef">
    <xs:choice minOccurs="1" maxOccurs="unbounded">
      <xs:element name="hediffClass" type="xs:string" />
      <xs:element name="comps">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="li" type="HediffCompProperties" />
          </xs:sequence>
          <xs:attribute name="MayRequire" type="xs:string" />
          <xs:attribute name="MayRequireAnyOf" type="xs:string" />
        </xs:complexType>
      </xs:element>
      <xs:element name="descriptionShort" type="xs:string" />
      <xs:element name="debugLabelExtra" type="xs:string" />
      <xs:element name="initialSeverity" type="xs:float" />
      <xs:element name="lethalSeverity" type="xs:float" />
      <xs:element name="stages">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="li" type="HediffStage" />
          </xs:sequence>
          <xs:attribute name="MayRequire" type="xs:string" />
          <xs:attribute name="MayRequireAnyOf" type="xs:string" />
        </xs:complexType>
      </xs:element>
      <xs:element name="tendable" type="StrBoolean" />
      <xs:element name="isBad" type="StrBoolean" />
      <xs:element name="spawnThingOnRemoved" type="xs:string" />
      <xs:element name="chanceToCauseNoPain" type="xs:float" />
      <xs:element name="canApplyDodChanceForCapacityChanges" type="StrBoolean" />
      <xs:element name="makesSickThought" type="StrBoolean" />
      <xs:element name="makesAlert" type="StrBoolean" />
      <xs:element name="chemicalNeed" type="xs:string" />
      <xs:element name="minSeverity" type="xs:float" />
      <xs:element name="maxSeverity" type="xs:float" />
      <xs:element name="scenarioCanAdd" type="StrBoolean" />
      <xs:element name="hediffGivers">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="li" type="HediffGiver" />
          </xs:sequence>
          <xs:attribute name="MayRequire" type="xs:string" />
          <xs:attribute name="MayRequireAnyOf" type="xs:string" />
        </xs:complexType>
      </xs:element>
      <xs:element name="cureAllAtOnceIfCuredByItem" type="StrBoolean" />
      <xs:element name="taleOnVisible" type="xs:string" />
      <xs:element name="recordDownedTale" type="StrBoolean" />
      <xs:element name="everCurableByItem" type="StrBoolean" />
      <xs:element name="tags">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="li">
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="xs:string">
                    <xs:attribute name="MayRequire" type="xs:string" />
                    <xs:attribute name="MayRequireAnyOf" type="xs:string" />
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="MayRequire" type="xs:string" />
          <xs:attribute name="MayRequireAnyOf" type="xs:string" />
        </xs:complexType>
      </xs:element>
      <xs:element name="priceImpact" type="StrBoolean" />
      <xs:element name="priceOffset" type="xs:float" />
      <xs:element name="chronic" type="StrBoolean" />
      <xs:element name="keepOnBodyPartRestoration" type="StrBoolean" />
      <xs:element name="countsAsAddedPartOrImplant" type="StrBoolean" />
      <xs:element name="blocksSocialInteraction" type="StrBoolean" />
      <xs:element name="blocksSleeping" type="StrBoolean" />
      <xs:element name="overrideTooltip" type="xs:string" />
      <xs:element name="extraTooltip" type="xs:string" />
      <xs:element name="inspectString" type="xs:string" />
      <xs:element name="levelIsQuantity" type="StrBoolean" />
      <xs:element name="removeOnDeathrestStart" type="StrBoolean" />
      <xs:element name="preventsCrawling" type="StrBoolean" />
      <xs:element name="preventsPregnancy" type="StrBoolean" />
      <xs:element name="preventsLungRot" type="StrBoolean" />
      <xs:element name="pregnant" type="StrBoolean" />
      <xs:element name="allowMothballIfLowPriorityWorldPawn" type="StrBoolean" />
      <xs:element name="removeWithTags">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="li">
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="xs:string">
                    <xs:attribute name="MayRequire" type="xs:string" />
                    <xs:attribute name="MayRequireAnyOf" type="xs:string" />
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="MayRequire" type="xs:string" />
          <xs:attribute name="MayRequireAnyOf" type="xs:string" />
        </xs:complexType>
      </xs:element>
      <xs:element name="onlyLifeThreateningTo">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="li">
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="xs:string">
                    <xs:attribute name="MayRequire" type="xs:string" />
                    <xs:attribute name="MayRequireAnyOf" type="xs:string" />
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="MayRequire" type="xs:string" />
          <xs:attribute name="MayRequireAnyOf" type="xs:string" />
        </xs:complexType>
      </xs:element>
      <xs:element name="canAffectBionicOrImplant" type="StrBoolean" />
      <xs:element name="alwaysShowSeverity" type="StrBoolean" />
      <xs:element name="showGizmosOnCorpse" type="StrBoolean" />
      <xs:element name="defaultInstallPart" type="xs:string" />
      <xs:element name="hairColorOverride" type="Color" />
      <xs:element name="possiblePathways">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="li" type="HediffInfectionPathway" />
          </xs:sequence>
          <xs:attribute name="MayRequire" type="xs:string" />
          <xs:attribute name="MayRequireAnyOf" type="xs:string" />
        </xs:complexType>
      </xs:element>
      <xs:element name="givesInfectionPathways">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="li">
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="xs:string">
                    <xs:attribute name="MayRequire" type="xs:string" />
                    <xs:attribute name="MayRequireAnyOf" type="xs:string" />
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="MayRequire" type="xs:string" />
          <xs:attribute name="MayRequireAnyOf" type="xs:string" />
        </xs:complexType>
      </xs:element>
      <xs:element name="duplicationAllowed" type="StrBoolean" />
      <xs:element name="preventsDeath" type="StrBoolean" />
      <xs:element name="allowedMeditationFocusTypes">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="li">
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="xs:string">
                    <xs:attribute name="MayRequire" type="xs:string" />
                    <xs:attribute name="MayRequireAnyOf" type="xs:string" />
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="MayRequire" type="xs:string" />
          <xs:attribute name="MayRequireAnyOf" type="xs:string" />
        </xs:complexType>
      </xs:element>
      <xs:element name="abilities">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="li">
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="xs:string">
                    <xs:attribute name="MayRequire" type="xs:string" />
                    <xs:attribute name="MayRequireAnyOf" type="xs:string" />
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="MayRequire" type="xs:string" />
          <xs:attribute name="MayRequireAnyOf" type="xs:string" />
        </xs:complexType>
      </xs:element>
      <xs:element name="isInfection" type="StrBoolean" />
      <xs:element name="forceRemoveOnResurrection" type="StrBoolean" />
      <xs:element name="organicAddedBodypart" type="StrBoolean" />
      <xs:element name="deprioritizeHealing" type="StrBoolean" />
      <xs:element name="clearsEgo" type="StrBoolean" />
      <xs:element name="aptitudes">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="li" type="Aptitude" />
          </xs:sequence>
          <xs:attribute name="MayRequire" type="xs:string" />
          <xs:attribute name="MayRequireAnyOf" type="xs:string" />
        </xs:complexType>
      </xs:element>
      <xs:element name="removeOnQuestLodgers" type="StrBoolean" />
      <xs:element name="removeOnRedressIfNotOfKind">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="li">
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="xs:string">
                    <xs:attribute name="MayRequire" type="xs:string" />
                    <xs:attribute name="MayRequireAnyOf" type="xs:string" />
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="MayRequire" type="xs:string" />
          <xs:attribute name="MayRequireAnyOf" type="xs:string" />
        </xs:complexType>
      </xs:element>
      <xs:element name="displayWound" type="StrBoolean" />
      <xs:element name="woundAnchorRange" type="xs:float" />
      <xs:element name="defaultLabelColor" type="Color" />
      <xs:element name="skinColorOverride" type="Color" />
      <xs:element name="skinColorTint" type="Color" />
      <xs:element name="skinColorTintStrength" type="xs:float" />
      <xs:element name="skinShader" type="xs:string" />
      <xs:element name="forceRenderTreeRecache" type="StrBoolean" />
      <xs:element name="injuryProps" type="InjuryProps" />
      <xs:element name="addedPartProps" type="AddedBodyPartProps" />
      <xs:element name="labelNoun" type="xs:string" />
      <xs:element name="battleStateLabel" type="xs:string" />
      <xs:element name="labelNounPretty" type="xs:string" />
      <xs:element name="targetPrefix" type="xs:string" />
      <xs:element name="defName" type="xs:string" />
      <xs:element name="label" type="xs:string" />
      <xs:element name="description" type="xs:string" />
      <xs:element name="descriptionHyperlinks">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="li" type="DefHyperlink" />
          </xs:sequence>
          <xs:attribute name="MayRequire" type="xs:string" />
          <xs:attribute name="MayRequireAnyOf" type="xs:string" />
        </xs:complexType>
      </xs:element>
      <xs:element name="ignoreConfigErrors" type="StrBoolean" />
      <xs:element name="ignoreIllegalLabelCharacterConfigError" type="StrBoolean" />
      <xs:element name="modExtensions">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="li" type="DefModExtension" />
          </xs:sequence>
          <xs:attribute name="MayRequire" type="xs:string" />
          <xs:attribute name="MayRequireAnyOf" type="xs:string" />
        </xs:complexType>
      </xs:element>
    </xs:choice>
    <xs:attribute name="Name" type="xs:string" />
    <xs:attribute name="ParentName" type="xs:string" />
    <xs:attribute name="Class" type="xs:string" />
    <xs:attribute name="MayRequire" type="xs:string" />
    <xs:attribute name="MayRequireAnyOf" type="xs:string" />
  </xs:complexType>
</xs:schema>