schemas/Defs/MutantDef.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="https://github.com/sharky98/RWSchema/Defs" elementFormDefault="qualified" targetNamespace="https://github.com/sharky98/RWSchema/Defs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="CommonElements.xsd" />
  <xs:complexType name="MutantDef">
    <xs:choice minOccurs="1" maxOccurs="unbounded">
      <xs:element name="hediff" type="xs:string" />
      <xs:element name="thinkTree" type="xs:string" />
      <xs:element name="thinkTreeConstant" type="xs:string" />
      <xs:element name="allowedDevelopmentalStages" type="DevelopmentalStage" />
      <xs:element name="clearMutantStatusOnDeath" type="StrBoolean" />
      <xs:element name="consideredSubhuman" type="StrBoolean" />
      <xs:element name="workDisables" type="WorkTags" />
      <xs:element name="disablesIdeo" type="StrBoolean" />
      <xs:element name="disableAging" type="StrBoolean" />
      <xs:element name="disableApparel" type="StrBoolean" />
      <xs:element name="disablesGenes">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="li">
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="xs:string">
                    <xs:attribute name="MayRequire" type="xs:string" />
                    <xs:attribute name="MayRequireAnyOf" type="xs:string" />
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="MayRequire" type="xs:string" />
          <xs:attribute name="MayRequireAnyOf" type="xs:string" />
        </xs:complexType>
      </xs:element>
      <xs:element name="preventsMentalBreaks" type="StrBoolean" />
      <xs:element name="canOpenDoors" type="StrBoolean" />
      <xs:element name="canOpenAnyDoor" type="StrBoolean" />
      <xs:element name="canCarryPawns" type="StrBoolean" />
      <xs:element name="canTend" type="StrBoolean" />
      <xs:element name="canTravelInCaravan" type="StrBoolean" />
      <xs:element name="respectsAllowedArea" type="StrBoolean" />
      <xs:element name="canGainXP" type="StrBoolean" />
      <xs:element name="disableEatingAtTable" type="StrBoolean" />
      <xs:element name="disableOwnership" type="StrBoolean" />
      <xs:element name="disablePolicies" type="StrBoolean" />
      <xs:element name="disableTitles" type="StrBoolean" />
      <xs:element name="disableFlying" type="StrBoolean" />
      <xs:element name="namePrefix" type="xs:string" />
      <xs:element name="hideLabel" type="StrBoolean" />
      <xs:element name="codexEntry" type="xs:string" />
      <xs:element name="showInScenarioEditor" type="StrBoolean" />
      <xs:element name="overrideLabel" type="StrBoolean" />
      <xs:element name="overrideInspectString" type="StrBoolean" />
      <xs:element name="showJobReport" type="StrBoolean" />
      <xs:element name="whitelistedFloatMenuProviders">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="li">
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="xs:string">
                    <xs:attribute name="MayRequire" type="xs:string" />
                    <xs:attribute name="MayRequireAnyOf" type="xs:string" />
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="MayRequire" type="xs:string" />
          <xs:attribute name="MayRequireAnyOf" type="xs:string" />
        </xs:complexType>
      </xs:element>
      <xs:element name="disableNeeds" type="StrBoolean" />
      <xs:element name="needWhitelist">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="li">
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="xs:string">
                    <xs:attribute name="MayRequire" type="xs:string" />
                    <xs:attribute name="MayRequireAnyOf" type="xs:string" />
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="MayRequire" type="xs:string" />
          <xs:attribute name="MayRequireAnyOf" type="xs:string" />
        </xs:complexType>
      </xs:element>
      <xs:element name="overrideFoodType" type="StrBoolean" />
      <xs:element name="foodType" type="FoodTypeFlags" />
      <xs:element name="allowEatingCorpses" type="StrBoolean" />
      <xs:element name="useCorpseGraphics" type="StrBoolean" />
      <xs:element name="skinColorOverride" type="Color" />
      <xs:element name="skinColorTint" type="Color" />
      <xs:element name="skinColorTintStrength" type="xs:float" />
      <xs:element name="hairColorOverride" type="Color" />
      <xs:element name="bodyTypeGraphicPaths">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="li" type="BodyTypeGraphicData" />
          </xs:sequence>
          <xs:attribute name="MayRequire" type="xs:string" />
          <xs:attribute name="MayRequireAnyOf" type="xs:string" />
        </xs:complexType>
      </xs:element>
      <xs:element name="forcedHeadTypes">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="li">
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="xs:string">
                    <xs:attribute name="MayRequire" type="xs:string" />
                    <xs:attribute name="MayRequireAnyOf" type="xs:string" />
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="MayRequire" type="xs:string" />
          <xs:attribute name="MayRequireAnyOf" type="xs:string" />
        </xs:complexType>
      </xs:element>
      <xs:element name="hairTagFilter" type="TagFilter" />
      <xs:element name="beardTagFilter" type="TagFilter" />
      <xs:element name="standingAnimation" type="xs:string" />
      <xs:element name="makesFootprints" type="StrBoolean" />
      <xs:element name="canBleed" type="StrBoolean" />
      <xs:element name="bloodDef" type="xs:string" />
      <xs:element name="bloodSmearDef" type="xs:string" />
      <xs:element name="entitledToMedicalCare" type="StrBoolean" />
      <xs:element name="isImmuneToInfections" type="StrBoolean" />
      <xs:element name="canUseDrugs" type="StrBoolean" />
      <xs:element name="drugWhitelist">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="li">
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="xs:string">
                    <xs:attribute name="MayRequire" type="xs:string" />
                    <xs:attribute name="MayRequireAnyOf" type="xs:string" />
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="MayRequire" type="xs:string" />
          <xs:attribute name="MayRequireAnyOf" type="xs:string" />
        </xs:complexType>
      </xs:element>
      <xs:element name="woundColor" type="Color" />
      <xs:element name="preventIllnesses" type="StrBoolean" />
      <xs:element name="removeChronicIllnesses" type="StrBoolean" />
      <xs:element name="removePermanentInjuries" type="StrBoolean" />
      <xs:element name="removeAddictions" type="StrBoolean" />
      <xs:element name="removeAllInjuries" type="StrBoolean" />
      <xs:element name="restoreLegs" type="StrBoolean" />
      <xs:element name="terminatePregnancy" type="StrBoolean" />
      <xs:element name="partsCleanAndDroppable" type="StrBoolean" />
      <xs:element name="clearsEgo" type="StrBoolean" />
      <xs:element name="breathesAir" type="StrBoolean" />
      <xs:element name="givesHediffs">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="li" type="StartingHediff" />
          </xs:sequence>
          <xs:attribute name="MayRequire" type="xs:string" />
          <xs:attribute name="MayRequireAnyOf" type="xs:string" />
        </xs:complexType>
      </xs:element>
      <xs:element name="removesHediffs">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="li">
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="xs:string">
                    <xs:attribute name="MayRequire" type="xs:string" />
                    <xs:attribute name="MayRequireAnyOf" type="xs:string" />
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="MayRequire" type="xs:string" />
          <xs:attribute name="MayRequireAnyOf" type="xs:string" />
        </xs:complexType>
      </xs:element>
      <xs:element name="hediffGivers">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="li" type="HediffGiver" />
          </xs:sequence>
          <xs:attribute name="MayRequire" type="xs:string" />
          <xs:attribute name="MayRequireAnyOf" type="xs:string" />
        </xs:complexType>
      </xs:element>
      <xs:element name="deathLetter" type="xs:string" />
      <xs:element name="deathLetterExtra" type="xs:string" />
      <xs:element name="soundCall" type="xs:string" />
      <xs:element name="soundAttack" type="xs:string" />
      <xs:element name="soundWounded" type="xs:string" />
      <xs:element name="soundDeath" type="xs:string" />
      <xs:element name="soundAngry" type="xs:string" />
      <xs:element name="verbs">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="li" type="VerbProperties" />
          </xs:sequence>
          <xs:attribute name="MayRequire" type="xs:string" />
          <xs:attribute name="MayRequireAnyOf" type="xs:string" />
        </xs:complexType>
      </xs:element>
      <xs:element name="tools">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="li" type="Tool" />
          </xs:sequence>
          <xs:attribute name="MayRequire" type="xs:string" />
          <xs:attribute name="MayRequireAnyOf" type="xs:string" />
        </xs:complexType>
      </xs:element>
      <xs:element name="abilities">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="li">
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="xs:string">
                    <xs:attribute name="MayRequire" type="xs:string" />
                    <xs:attribute name="MayRequireAnyOf" type="xs:string" />
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="MayRequire" type="xs:string" />
          <xs:attribute name="MayRequireAnyOf" type="xs:string" />
        </xs:complexType>
      </xs:element>
      <xs:element name="abilityWhitelist">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="li">
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="xs:string">
                    <xs:attribute name="MayRequire" type="xs:string" />
                    <xs:attribute name="MayRequireAnyOf" type="xs:string" />
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="MayRequire" type="xs:string" />
          <xs:attribute name="MayRequireAnyOf" type="xs:string" />
        </xs:complexType>
      </xs:element>
      <xs:element name="passive" type="StrBoolean" />
      <xs:element name="canBeDrafted" type="StrBoolean" />
      <xs:element name="canAttackWhileCrawling" type="StrBoolean" />
      <xs:element name="deathOnDownedChance" type="xs:float" />
      <xs:element name="soundAttackChance" type="xs:float" />
      <xs:element name="killedLeavings">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="li" type="ThingDefCountClass" />
          </xs:sequence>
          <xs:attribute name="MayRequire" type="xs:string" />
          <xs:attribute name="MayRequireAnyOf" type="xs:string" />
        </xs:complexType>
      </xs:element>
      <xs:element name="psychicShockUntargetable" type="StrBoolean" />
      <xs:element name="disableHostilityResponse" type="StrBoolean" />
      <xs:element name="defaultFaction" type="xs:string" />
      <xs:element name="isConsideredCorpse" type="StrBoolean" />
      <xs:element name="relativeTurnedThought" type="xs:string" />
      <xs:element name="incapableOfSocialInteractions" type="StrBoolean" />
      <xs:element name="tameable" type="StrBoolean" />
      <xs:element name="canBeCapturedToHoldingPlatform" type="StrBoolean" />
      <xs:element name="producesBioferrite" type="StrBoolean" />
      <xs:element name="anomalyKnowledgeOffset" type="xs:float" />
      <xs:element name="knowledgeCategory" type="xs:string" />
      <xs:element name="defName" type="xs:string" />
      <xs:element name="label" type="xs:string" />
      <xs:element name="description" type="xs:string" />
      <xs:element name="descriptionHyperlinks">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="li" type="DefHyperlink" />
          </xs:sequence>
          <xs:attribute name="MayRequire" type="xs:string" />
          <xs:attribute name="MayRequireAnyOf" type="xs:string" />
        </xs:complexType>
      </xs:element>
      <xs:element name="ignoreConfigErrors" type="StrBoolean" />
      <xs:element name="ignoreIllegalLabelCharacterConfigError" type="StrBoolean" />
      <xs:element name="modExtensions">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="li" type="DefModExtension" />
          </xs:sequence>
          <xs:attribute name="MayRequire" type="xs:string" />
          <xs:attribute name="MayRequireAnyOf" type="xs:string" />
        </xs:complexType>
      </xs:element>
    </xs:choice>
    <xs:attribute name="Name" type="xs:string" />
    <xs:attribute name="ParentName" type="xs:string" />
    <xs:attribute name="Abstract" type="StrBoolean" />
    <xs:attribute name="Class" type="xs:string" />
    <xs:attribute name="MayRequire" type="xs:string" />
    <xs:attribute name="MayRequireAnyOf" type="xs:string" />
  </xs:complexType>
</xs:schema>