schemas/Defs/PawnColumnDef.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="https://github.com/sharky98/RWSchema/Defs" elementFormDefault="qualified" targetNamespace="https://github.com/sharky98/RWSchema/Defs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="CommonElements.xsd" />
  <xs:complexType name="PawnColumnDef">
    <xs:choice minOccurs="1" maxOccurs="unbounded">
      <xs:element name="workerClass" type="xs:string" />
      <xs:element name="sortable" type="StrBoolean" />
      <xs:element name="ignoreWhenCalculatingOptimalTableSize" type="StrBoolean" />
      <xs:element name="headerIcon" type="xs:string" />
      <xs:element name="headerIconSize" type="Vector2" />
      <xs:element name="headerTip" type="xs:string" />
      <xs:element name="headerAlwaysInteractable" type="StrBoolean" />
      <xs:element name="paintable" type="StrBoolean" />
      <xs:element name="groupable" type="StrBoolean" />
      <xs:element name="trainable" type="xs:string" />
      <xs:element name="gap" type="xs:int" />
      <xs:element name="workType" type="xs:string" />
      <xs:element name="moveWorkTypeLabelDown" type="StrBoolean" />
      <xs:element name="showIcon" type="StrBoolean" />
      <xs:element name="useLabelShort" type="StrBoolean" />
      <xs:element name="widthPriority" type="xs:int" />
      <xs:element name="width" type="xs:int" />
      <xs:element name="defName" type="xs:string" />
      <xs:element name="label" type="xs:string" />
      <xs:element name="description" type="xs:string" />
      <xs:element name="descriptionHyperlinks">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="li" type="DefHyperlink" />
          </xs:sequence>
          <xs:attribute name="MayRequire" type="xs:string" />
          <xs:attribute name="MayRequireAnyOf" type="xs:string" />
        </xs:complexType>
      </xs:element>
      <xs:element name="ignoreConfigErrors" type="StrBoolean" />
      <xs:element name="ignoreIllegalLabelCharacterConfigError" type="StrBoolean" />
      <xs:element name="modExtensions">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="li" type="DefModExtension" />
          </xs:sequence>
          <xs:attribute name="MayRequire" type="xs:string" />
          <xs:attribute name="MayRequireAnyOf" type="xs:string" />
        </xs:complexType>
      </xs:element>
    </xs:choice>
    <xs:attribute name="Name" type="xs:string" />
    <xs:attribute name="ParentName" type="xs:string" />
    <xs:attribute name="Class" type="xs:string" />
    <xs:attribute name="MayRequire" type="xs:string" />
    <xs:attribute name="MayRequireAnyOf" type="xs:string" />
  </xs:complexType>
</xs:schema>