schemas/Defs/PawnCapacityDef.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="https://github.com/sharky98/RWSchema/Defs" elementFormDefault="qualified" targetNamespace="https://github.com/sharky98/RWSchema/Defs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="CommonElements.xsd" />
  <xs:complexType name="PawnCapacityDef">
    <xs:choice minOccurs="1" maxOccurs="unbounded">
      <xs:element name="listOrder" type="xs:int" />
      <xs:element name="workerClass" type="xs:string" />
      <xs:element name="labelMechanoids" type="xs:string" />
      <xs:element name="labelAnimals" type="xs:string" />
      <xs:element name="labelAnomalyEntity" type="xs:string" />
      <xs:element name="labelDrones" type="xs:string" />
      <xs:element name="showOnHumanlikes" type="xs:boolean" />
      <xs:element name="showOnAnimals" type="xs:boolean" />
      <xs:element name="showOnMechanoids" type="xs:boolean" />
      <xs:element name="showOnAnomalyEntities" type="xs:boolean" />
      <xs:element name="showOnDrones" type="xs:boolean" />
      <xs:element name="lethalFlesh" type="xs:boolean" />
      <xs:element name="lethalMechanoids" type="xs:boolean" />
      <xs:element name="minForCapable" type="xs:float" />
      <xs:element name="minValue" type="xs:float" />
      <xs:element name="zeroIfCannotBeAwake" type="xs:boolean" />
      <xs:element name="showOnCaravanHealthTab" type="xs:boolean" />
      <xs:element name="defName" type="xs:string" />
      <xs:element name="label" type="xs:string" />
      <xs:element name="description" type="xs:string" />
      <xs:element name="descriptionHyperlinks">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="li" type="DefHyperlink" />
          </xs:sequence>
          <xs:attribute name="MayRequire" type="xs:string" />
          <xs:attribute name="MayRequireAnyOf" type="xs:string" />
        </xs:complexType>
      </xs:element>
      <xs:element name="ignoreConfigErrors" type="xs:boolean" />
      <xs:element name="ignoreIllegalLabelCharacterConfigError" type="xs:boolean" />
      <xs:element name="modExtensions">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="li" type="DefModExtension" />
          </xs:sequence>
          <xs:attribute name="MayRequire" type="xs:string" />
          <xs:attribute name="MayRequireAnyOf" type="xs:string" />
        </xs:complexType>
      </xs:element>
    </xs:choice>
    <xs:attribute name="Name" type="xs:string" />
    <xs:attribute name="ParentName" type="xs:string" />
    <xs:attribute name="Class" type="xs:string" />
    <xs:attribute name="MayRequire" type="xs:string" />
    <xs:attribute name="MayRequireAnyOf" type="xs:string" />
  </xs:complexType>
</xs:schema>