schemas/Defs/PlanetLayerDef.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="https://github.com/sharky98/RWSchema/Defs" elementFormDefault="qualified" targetNamespace="https://github.com/sharky98/RWSchema/Defs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="CommonElements.xsd" />
  <xs:complexType name="PlanetLayerDef">
    <xs:choice minOccurs="1" maxOccurs="unbounded">
      <xs:element name="onlyAllowWhitelistedIncidents" type="StrBoolean" />
      <xs:element name="onlyAllowWhitelistedBiomes" type="StrBoolean" />
      <xs:element name="onlyAllowWhitelistedGameConditions" type="StrBoolean" />
      <xs:element name="onlyAllowWhitelistedQuests" type="StrBoolean" />
      <xs:element name="onlyAllowWhitelistedArrivals" type="StrBoolean" />
      <xs:element name="onlyAllowWhitelistedArrivalModes" type="StrBoolean" />
      <xs:element name="alwaysRaycastable" type="StrBoolean" />
      <xs:element name="obstructsExpandingIcons" type="StrBoolean" />
      <xs:element name="canFormCaravans" type="StrBoolean" />
      <xs:element name="isSpace" type="StrBoolean" />
      <xs:element name="rangeDistanceFactor" type="xs:float" />
      <xs:element name="generatedLocationFactor" type="xs:float" />
      <xs:element name="raidPointsFactor" type="xs:float" />
      <xs:element name="backgroundBiome" type="xs:string" />
      <xs:element name="ignoreNoBuildArea" type="StrBoolean" />
      <xs:element name="lineColor" type="Color" />
      <xs:element name="lineWidthFactor" type="xs:float" />
      <xs:element name="worldDrawLayers">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="li">
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="xs:string">
                    <xs:attribute name="MayRequire" type="xs:string" />
                    <xs:attribute name="MayRequireAnyOf" type="xs:string" />
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="MayRequire" type="xs:string" />
          <xs:attribute name="MayRequireAnyOf" type="xs:string" />
        </xs:complexType>
      </xs:element>
      <xs:element name="layerType" type="xs:string" />
      <xs:element name="tileType" type="xs:string" />
      <xs:element name="elevationString" type="xs:string" />
      <xs:element name="viewGizmoTooltip" type="xs:string" />
      <xs:element name="gerundLabel" type="xs:string" />
      <xs:element name="viewGizmoOnlyVisibleWithDirectConnection" type="StrBoolean" />
      <xs:element name="settlementsPer100kTiles">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="\s*-?\d+(\.\d+)?\s*(~\s*-?\d+(\.\d+)?\s*)?" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="viewGizmoTexPath" type="xs:string" />
      <xs:element name="defName" type="xs:string" />
      <xs:element name="label" type="xs:string" />
      <xs:element name="description" type="xs:string" />
      <xs:element name="descriptionHyperlinks">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="li" type="DefHyperlink" />
          </xs:sequence>
          <xs:attribute name="MayRequire" type="xs:string" />
          <xs:attribute name="MayRequireAnyOf" type="xs:string" />
        </xs:complexType>
      </xs:element>
      <xs:element name="ignoreConfigErrors" type="StrBoolean" />
      <xs:element name="ignoreIllegalLabelCharacterConfigError" type="StrBoolean" />
      <xs:element name="modExtensions">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="li" type="DefModExtension" />
          </xs:sequence>
          <xs:attribute name="MayRequire" type="xs:string" />
          <xs:attribute name="MayRequireAnyOf" type="xs:string" />
        </xs:complexType>
      </xs:element>
    </xs:choice>
    <xs:attribute name="Name" type="xs:string" />
    <xs:attribute name="ParentName" type="xs:string" />
    <xs:attribute name="Abstract" type="StrBoolean" />
    <xs:attribute name="Class" type="xs:string" />
    <xs:attribute name="MayRequire" type="xs:string" />
    <xs:attribute name="MayRequireAnyOf" type="xs:string" />
  </xs:complexType>
</xs:schema>