schemas/Defs/PsychicRitualDef_SkipAbduction.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="https://github.com/sharky98/RWSchema/Defs" elementFormDefault="qualified" targetNamespace="https://github.com/sharky98/RWSchema/Defs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="CommonElements.xsd" />
  <xs:complexType name="PsychicRitualDef_SkipAbduction">
    <xs:choice minOccurs="1" maxOccurs="unbounded">
      <xs:element name="hoursUntilHoraxEffect">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="\s*-?\d+(\.\d+)?\s*(~\s*-?\d+(\.\d+)?\s*)?" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="hoursUntilOutcome">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="\s*-?\d+(\.\d+)?\s*(~\s*-?\d+(\.\d+)?\s*)?" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="invocationCircleRadius" type="xs:float" />
      <xs:element name="outcomeDescription" type="xs:string" />
      <xs:element name="psychicSensitivityPowerFactor" type="xs:float" />
      <xs:element name="researchPrerequisite" type="xs:string" />
      <xs:element name="allowsDrafting" type="xs:boolean" />
      <xs:element name="allowsFloatMenu" type="xs:boolean" />
      <xs:element name="cooldownHours" type="xs:int" />
      <xs:element name="nonRequiredPawnsMayLeave" type="xs:boolean" />
      <xs:element name="rolePowerFactor" type="xs:float" />
      <xs:element name="aiCastable" type="xs:boolean" />
      <xs:element name="playerCastable" type="xs:boolean" />
      <xs:element name="minThreatPoints" type="xs:float" />
      <xs:element name="castableOnPocketMaps" type="xs:boolean" />
      <xs:element name="layerWhitelist">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="li">
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="xs:string">
                    <xs:attribute name="MayRequire" type="xs:string" />
                    <xs:attribute name="MayRequireAnyOf" type="xs:string" />
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="MayRequire" type="xs:string" />
          <xs:attribute name="MayRequireAnyOf" type="xs:string" />
        </xs:complexType>
      </xs:element>
      <xs:element name="letterAICompleteLabel" type="xs:string" />
      <xs:element name="letterAICompleteText" type="xs:string" />
      <xs:element name="letterAIArrivedText" type="xs:string" />
      <xs:element name="iconPath" type="xs:string" />
      <xs:element name="uiIcon" type="Texture2D" />
      <xs:element name="defName" type="xs:string" />
      <xs:element name="label" type="xs:string" />
      <xs:element name="description" type="xs:string" />
      <xs:element name="descriptionHyperlinks">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="li" type="DefHyperlink" />
          </xs:sequence>
          <xs:attribute name="MayRequire" type="xs:string" />
          <xs:attribute name="MayRequireAnyOf" type="xs:string" />
        </xs:complexType>
      </xs:element>
      <xs:element name="ignoreConfigErrors" type="xs:boolean" />
      <xs:element name="ignoreIllegalLabelCharacterConfigError" type="xs:boolean" />
      <xs:element name="modExtensions">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="li" type="DefModExtension" />
          </xs:sequence>
          <xs:attribute name="MayRequire" type="xs:string" />
          <xs:attribute name="MayRequireAnyOf" type="xs:string" />
        </xs:complexType>
      </xs:element>
    </xs:choice>
    <xs:attribute name="Name" type="xs:string" />
    <xs:attribute name="ParentName" type="xs:string" />
    <xs:attribute name="Class" type="xs:string" />
    <xs:attribute name="MayRequire" type="xs:string" />
    <xs:attribute name="MayRequireAnyOf" type="xs:string" />
  </xs:complexType>
</xs:schema>