schemas/Defs/QuestScriptDef.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="https://github.com/sharky98/RWSchema/Defs" elementFormDefault="qualified" targetNamespace="https://github.com/sharky98/RWSchema/Defs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="CommonElements.xsd" />
  <xs:complexType name="QuestScriptDef">
    <xs:choice minOccurs="1" maxOccurs="unbounded">
      <xs:element name="root" type="QuestNode" />
      <xs:element name="rootSelectionWeight" type="xs:float" />
      <xs:element name="randomlySelectable" type="StrBoolean" />
      <xs:element name="rootMinPoints" type="xs:float" />
      <xs:element name="rootMinProgressScore" type="xs:float" />
      <xs:element name="rootEarliestDay" type="xs:int" />
      <xs:element name="rootIncreasesPopulation" type="StrBoolean" />
      <xs:element name="minRefireDays" type="xs:float" />
      <xs:element name="decreeSelectionWeight" type="xs:float" />
      <xs:element name="decreeTags">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="li">
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="xs:string">
                    <xs:attribute name="MayRequire" type="xs:string" />
                    <xs:attribute name="MayRequireAnyOf" type="xs:string" />
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="MayRequire" type="xs:string" />
          <xs:attribute name="MayRequireAnyOf" type="xs:string" />
        </xs:complexType>
      </xs:element>
      <xs:element name="questDescriptionRules" type="RulePack" />
      <xs:element name="questNameRules" type="RulePack" />
      <xs:element name="questDescriptionAndNameRules" type="RulePack" />
      <xs:element name="questContentRules" type="RulePack" />
      <xs:element name="questSubjectRules" type="RulePack" />
      <xs:element name="autoAccept" type="StrBoolean" />
      <xs:element name="hideOnCleanup" type="StrBoolean" />
      <xs:element name="expireDaysRange">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:pattern value="\s*-?\d+(\.\d+)?\s*(~\s*-?\d+(\.\d+)?\s*)?" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="nameMustBeUnique" type="StrBoolean" />
      <xs:element name="defaultChallengeRating" type="xs:int" />
      <xs:element name="defaultHidden" type="StrBoolean" />
      <xs:element name="isRootSpecial" type="StrBoolean" />
      <xs:element name="canGiveRoyalFavor" type="StrBoolean" />
      <xs:element name="questAvailableLetterLabel" type="xs:string" />
      <xs:element name="questAvailableLetterDef" type="xs:string" />
      <xs:element name="questAvailableLetterTextIsDescription" type="StrBoolean" />
      <xs:element name="hideInvolvedFactionsInfo" type="StrBoolean" />
      <xs:element name="affectedByPopulation" type="StrBoolean" />
      <xs:element name="affectedByPoints" type="StrBoolean" />
      <xs:element name="defaultCharity" type="StrBoolean" />
      <xs:element name="successHistoryEvent" type="xs:string" />
      <xs:element name="failedOrExpiredHistoryEvent" type="xs:string" />
      <xs:element name="sendAvailableLetter" type="StrBoolean" />
      <xs:element name="epic" type="StrBoolean" />
      <xs:element name="epicParent" type="xs:string" />
      <xs:element name="endOnColonyMove" type="StrBoolean" />
      <xs:element name="everAcceptableInSpace" type="StrBoolean" />
      <xs:element name="givenBy">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="li" type="QuestGiverTag" />
          </xs:sequence>
          <xs:attribute name="MayRequire" type="xs:string" />
          <xs:attribute name="MayRequireAnyOf" type="xs:string" />
        </xs:complexType>
      </xs:element>
      <xs:element name="layerWhitelist">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="li">
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="xs:string">
                    <xs:attribute name="MayRequire" type="xs:string" />
                    <xs:attribute name="MayRequireAnyOf" type="xs:string" />
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="MayRequire" type="xs:string" />
          <xs:attribute name="MayRequireAnyOf" type="xs:string" />
        </xs:complexType>
      </xs:element>
      <xs:element name="layerBlacklist">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="li">
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="xs:string">
                    <xs:attribute name="MayRequire" type="xs:string" />
                    <xs:attribute name="MayRequireAnyOf" type="xs:string" />
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="MayRequire" type="xs:string" />
          <xs:attribute name="MayRequireAnyOf" type="xs:string" />
        </xs:complexType>
      </xs:element>
      <xs:element name="canOccurOnAllPlanetLayers" type="StrBoolean" />
      <xs:element name="defName" type="xs:string" />
      <xs:element name="label" type="xs:string" />
      <xs:element name="description" type="xs:string" />
      <xs:element name="descriptionHyperlinks">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="li" type="DefHyperlink" />
          </xs:sequence>
          <xs:attribute name="MayRequire" type="xs:string" />
          <xs:attribute name="MayRequireAnyOf" type="xs:string" />
        </xs:complexType>
      </xs:element>
      <xs:element name="ignoreConfigErrors" type="StrBoolean" />
      <xs:element name="ignoreIllegalLabelCharacterConfigError" type="StrBoolean" />
      <xs:element name="modExtensions">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="li" type="DefModExtension" />
          </xs:sequence>
          <xs:attribute name="MayRequire" type="xs:string" />
          <xs:attribute name="MayRequireAnyOf" type="xs:string" />
        </xs:complexType>
      </xs:element>
    </xs:choice>
    <xs:attribute name="Name" type="xs:string" />
    <xs:attribute name="ParentName" type="xs:string" />
    <xs:attribute name="Class" type="xs:string" />
    <xs:attribute name="MayRequire" type="xs:string" />
    <xs:attribute name="MayRequireAnyOf" type="xs:string" />
  </xs:complexType>
</xs:schema>