schemas/Defs/SitePartDef.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="https://github.com/sharky98/RWSchema/Defs" elementFormDefault="qualified" targetNamespace="https://github.com/sharky98/RWSchema/Defs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="CommonElements.xsd" />
  <xs:complexType name="SitePartDef">
    <xs:choice minOccurs="1" maxOccurs="unbounded">
      <xs:element name="conditionCauserDef" type="xs:string" />
      <xs:element name="activeThreatDisturbanceFactor" type="xs:float" />
      <xs:element name="defaultHidden" type="xs:boolean" />
      <xs:element name="workerClass" type="xs:string" />
      <xs:element name="siteTexture" type="xs:string" />
      <xs:element name="expandingIconTexture" type="xs:string" />
      <xs:element name="forceMutators">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="li">
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="xs:string">
                    <xs:attribute name="MayRequire" type="xs:string" />
                    <xs:attribute name="MayRequireAnyOf" type="xs:string" />
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="MayRequire" type="xs:string" />
          <xs:attribute name="MayRequireAnyOf" type="xs:string" />
        </xs:complexType>
      </xs:element>
      <xs:element name="applyFactionColorToSiteTexture" type="xs:boolean" />
      <xs:element name="showFactionInInspectString" type="xs:boolean" />
      <xs:element name="requiresFaction" type="xs:boolean" />
      <xs:element name="disallowsAutomaticDetectionTimerStart" type="xs:boolean" />
      <xs:element name="minFactionTechLevel" type="TechLevel" />
      <xs:element name="approachOrderString" type="xs:string" />
      <xs:element name="approachingReportString" type="xs:string" />
      <xs:element name="tags">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="li">
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="xs:string">
                    <xs:attribute name="MayRequire" type="xs:string" />
                    <xs:attribute name="MayRequireAnyOf" type="xs:string" />
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="MayRequire" type="xs:string" />
          <xs:attribute name="MayRequireAnyOf" type="xs:string" />
        </xs:complexType>
      </xs:element>
      <xs:element name="excludesTags">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="li">
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="xs:string">
                    <xs:attribute name="MayRequire" type="xs:string" />
                    <xs:attribute name="MayRequireAnyOf" type="xs:string" />
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="MayRequire" type="xs:string" />
          <xs:attribute name="MayRequireAnyOf" type="xs:string" />
        </xs:complexType>
      </xs:element>
      <xs:element name="arrivedLetter" type="xs:string" />
      <xs:element name="arrivedLetterLabelPart" type="xs:string" />
      <xs:element name="arrivedLetterHediffHyperlinks">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="li">
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="xs:string">
                    <xs:attribute name="MayRequire" type="xs:string" />
                    <xs:attribute name="MayRequireAnyOf" type="xs:string" />
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="MayRequire" type="xs:string" />
          <xs:attribute name="MayRequireAnyOf" type="xs:string" />
        </xs:complexType>
      </xs:element>
      <xs:element name="arrivedLetterDef" type="xs:string" />
      <xs:element name="wantsThreatPoints" type="xs:boolean" />
      <xs:element name="minThreatPoints" type="xs:float" />
      <xs:element name="increasesPopulation" type="xs:boolean" />
      <xs:element name="badEvenIfNoMap" type="xs:boolean" />
      <xs:element name="forceExitAndRemoveMapCountdownDurationDays" type="xs:float" />
      <xs:element name="handlesWorldObjectTimeoutInspectString" type="xs:boolean" />
      <xs:element name="mainPartAllThreatsLabel" type="xs:string" />
      <xs:element name="minMapSize" type="IntVec3" />
      <xs:element name="selectionWeight" type="xs:float" />
      <xs:element name="considerEnteringAsAttack" type="xs:boolean" />
      <xs:element name="gravShipsCanLandOn" type="xs:boolean" />
      <xs:element name="copyQuestName" type="xs:boolean" />
      <xs:element name="leaveAbandonedSettlement" type="xs:boolean" />
      <xs:element name="displayOnInspectPane" type="xs:boolean" />
      <xs:element name="lootTable">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="li" type="WorkSiteLootThing" />
          </xs:sequence>
          <xs:attribute name="MayRequire" type="xs:string" />
          <xs:attribute name="MayRequireAnyOf" type="xs:string" />
        </xs:complexType>
      </xs:element>
      <xs:element name="defName" type="xs:string" />
      <xs:element name="label" type="xs:string" />
      <xs:element name="description" type="xs:string" />
      <xs:element name="descriptionHyperlinks">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="li" type="DefHyperlink" />
          </xs:sequence>
          <xs:attribute name="MayRequire" type="xs:string" />
          <xs:attribute name="MayRequireAnyOf" type="xs:string" />
        </xs:complexType>
      </xs:element>
      <xs:element name="ignoreConfigErrors" type="xs:boolean" />
      <xs:element name="ignoreIllegalLabelCharacterConfigError" type="xs:boolean" />
      <xs:element name="modExtensions">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="li" type="DefModExtension" />
          </xs:sequence>
          <xs:attribute name="MayRequire" type="xs:string" />
          <xs:attribute name="MayRequireAnyOf" type="xs:string" />
        </xs:complexType>
      </xs:element>
    </xs:choice>
    <xs:attribute name="Name" type="xs:string" />
    <xs:attribute name="ParentName" type="xs:string" />
    <xs:attribute name="Class" type="xs:string" />
    <xs:attribute name="MayRequire" type="xs:string" />
    <xs:attribute name="MayRequireAnyOf" type="xs:string" />
  </xs:complexType>
</xs:schema>