schemas/Defs/WorkGiverDef.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="https://github.com/sharky98/RWSchema/Defs" elementFormDefault="qualified" targetNamespace="https://github.com/sharky98/RWSchema/Defs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="CommonElements.xsd" />
  <xs:complexType name="WorkGiverDef">
    <xs:choice minOccurs="1" maxOccurs="unbounded">
      <xs:element name="giverClass" type="xs:string" />
      <xs:element name="workType" type="xs:string" />
      <xs:element name="workTags" type="WorkTags" />
      <xs:element name="priorityInType" type="xs:int" />
      <xs:element name="verb" type="xs:string" />
      <xs:element name="gerund" type="xs:string" />
      <xs:element name="scanThings" type="StrBoolean" />
      <xs:element name="scanCells" type="StrBoolean" />
      <xs:element name="emergency" type="StrBoolean" />
      <xs:element name="requiredCapacities">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="li">
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="xs:string">
                    <xs:attribute name="MayRequire" type="xs:string" />
                    <xs:attribute name="MayRequireAnyOf" type="xs:string" />
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="MayRequire" type="xs:string" />
          <xs:attribute name="MayRequireAnyOf" type="xs:string" />
        </xs:complexType>
      </xs:element>
      <xs:element name="directOrderable" type="StrBoolean" />
      <xs:element name="prioritizeSustains" type="StrBoolean" />
      <xs:element name="nonColonistsCanDo" type="StrBoolean" />
      <xs:element name="tagToGive" type="JobTag" />
      <xs:element name="equivalenceGroup" type="xs:string" />
      <xs:element name="canBeDoneWhileDrafted" type="StrBoolean" />
      <xs:element name="autoTakeablePriorityDrafted" type="xs:int" />
      <xs:element name="forceMote" type="xs:string" />
      <xs:element name="forceFleck" type="xs:string" />
      <xs:element name="canBeDoneByMechs" type="StrBoolean" />
      <xs:element name="fixedBillGiverDefs">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="li">
              <xs:complexType>
                <xs:simpleContent>
                  <xs:extension base="xs:string">
                    <xs:attribute name="MayRequire" type="xs:string" />
                    <xs:attribute name="MayRequireAnyOf" type="xs:string" />
                  </xs:extension>
                </xs:simpleContent>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute name="MayRequire" type="xs:string" />
          <xs:attribute name="MayRequireAnyOf" type="xs:string" />
        </xs:complexType>
      </xs:element>
      <xs:element name="billGiversAllHumanlikes" type="StrBoolean" />
      <xs:element name="billGiversAllHumanlikesCorpses" type="StrBoolean" />
      <xs:element name="billGiversAllMechanoids" type="StrBoolean" />
      <xs:element name="billGiversAllMechanoidsCorpses" type="StrBoolean" />
      <xs:element name="billGiversAllAnimals" type="StrBoolean" />
      <xs:element name="billGiversAllAnimalsCorpses" type="StrBoolean" />
      <xs:element name="feedHumanlikesOnly" type="StrBoolean" />
      <xs:element name="feedAnimalsOnly" type="StrBoolean" />
      <xs:element name="doesSmoothing" type="StrBoolean" />
      <xs:element name="scannerDef" type="xs:string" />
      <xs:element name="defName" type="xs:string" />
      <xs:element name="label" type="xs:string" />
      <xs:element name="description" type="xs:string" />
      <xs:element name="descriptionHyperlinks">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="li" type="DefHyperlink" />
          </xs:sequence>
          <xs:attribute name="MayRequire" type="xs:string" />
          <xs:attribute name="MayRequireAnyOf" type="xs:string" />
        </xs:complexType>
      </xs:element>
      <xs:element name="ignoreConfigErrors" type="StrBoolean" />
      <xs:element name="ignoreIllegalLabelCharacterConfigError" type="StrBoolean" />
      <xs:element name="modExtensions">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="li" type="DefModExtension" />
          </xs:sequence>
          <xs:attribute name="MayRequire" type="xs:string" />
          <xs:attribute name="MayRequireAnyOf" type="xs:string" />
        </xs:complexType>
      </xs:element>
    </xs:choice>
    <xs:attribute name="Name" type="xs:string" />
    <xs:attribute name="ParentName" type="xs:string" />
    <xs:attribute name="Class" type="xs:string" />
    <xs:attribute name="MayRequire" type="xs:string" />
    <xs:attribute name="MayRequireAnyOf" type="xs:string" />
  </xs:complexType>
</xs:schema>