schemas/Defs/WorldObjectDef.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="https://github.com/sharky98/RWSchema/Defs" elementFormDefault="qualified" targetNamespace="https://github.com/sharky98/RWSchema/Defs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="CommonElements.xsd" />
  <xs:complexType name="WorldObjectDef">
    <xs:choice minOccurs="1" maxOccurs="unbounded">
      <xs:element name="worldObjectClass" type="xs:string" />
      <xs:element name="canHaveFaction" type="xs:boolean" />
      <xs:element name="saved" type="xs:boolean" />
      <xs:element name="canBePlayerHome" type="xs:boolean" />
      <xs:element name="treatAsPlayerHome" type="xs:boolean" />
      <xs:element name="canResizeToGravship" type="xs:boolean" />
      <xs:element name="requiresSignalJammerToReach" type="xs:boolean" />
      <xs:element name="overrideMapSize" type="IntVec3" />
      <xs:element name="comps">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="li" type="WorldObjectCompProperties" />
          </xs:sequence>
          <xs:attribute name="MayRequire" type="xs:string" />
          <xs:attribute name="MayRequireAnyOf" type="xs:string" />
        </xs:complexType>
      </xs:element>
      <xs:element name="canHaveMap" type="xs:boolean" />
      <xs:element name="validLaunchTarget" type="xs:boolean" />
      <xs:element name="allowCaravanIncidentsWhichGenerateMap" type="xs:boolean" />
      <xs:element name="isTempIncidentMapOwner" type="xs:boolean" />
      <xs:element name="incidentTargetTags">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="li" type="xs:string" />
          </xs:sequence>
          <xs:attribute name="MayRequire" type="xs:string" />
          <xs:attribute name="MayRequireAnyOf" type="xs:string" />
        </xs:complexType>
      </xs:element>
      <xs:element name="selectable" type="xs:boolean" />
      <xs:element name="neverMultiSelect" type="xs:boolean" />
      <xs:element name="mapGenerator" type="xs:string" />
      <xs:element name="inspectorTabs">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="li" type="xs:string" />
          </xs:sequence>
          <xs:attribute name="MayRequire" type="xs:string" />
          <xs:attribute name="MayRequireAnyOf" type="xs:string" />
        </xs:complexType>
      </xs:element>
      <xs:element name="useDynamicDrawer" type="xs:boolean" />
      <xs:element name="expandingIcon" type="xs:boolean" />
      <xs:element name="expandingIconTexture" type="xs:string" />
      <xs:element name="expandingIconMaskTexture" type="xs:string" />
      <xs:element name="expandingIconPriority" type="xs:float" />
      <xs:element name="texture" type="xs:string" />
      <xs:element name="mapEdgeTexture" type="xs:string" />
      <xs:element name="expandMore" type="xs:boolean" />
      <xs:element name="rotateGraphicWhenTraveling" type="xs:boolean" />
      <xs:element name="expandingIconColor" type="Color" />
      <xs:element name="expandingIconDrawSize" type="xs:float" />
      <xs:element name="fullyExpandedInSpace" type="xs:boolean" />
      <xs:element name="shader" type="xs:string" />
      <xs:element name="expandingShader" type="xs:string" />
      <xs:element name="blockExitGridUntilBattleIsWon" type="xs:boolean" />
      <xs:element name="nameMaker" type="xs:string" />
      <xs:element name="defName" type="xs:string" />
      <xs:element name="label" type="xs:string" />
      <xs:element name="description" type="xs:string" />
      <xs:element name="descriptionHyperlinks">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="li" type="DefHyperlink" />
          </xs:sequence>
          <xs:attribute name="MayRequire" type="xs:string" />
          <xs:attribute name="MayRequireAnyOf" type="xs:string" />
        </xs:complexType>
      </xs:element>
      <xs:element name="ignoreConfigErrors" type="xs:boolean" />
      <xs:element name="ignoreIllegalLabelCharacterConfigError" type="xs:boolean" />
      <xs:element name="modExtensions">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="li" type="DefModExtension" />
          </xs:sequence>
          <xs:attribute name="MayRequire" type="xs:string" />
          <xs:attribute name="MayRequireAnyOf" type="xs:string" />
        </xs:complexType>
      </xs:element>
    </xs:choice>
    <xs:attribute name="Name" type="xs:string" />
    <xs:attribute name="ParentName" type="xs:string" />
    <xs:attribute name="Class" type="xs:string" />
    <xs:attribute name="MayRequire" type="xs:string" />
    <xs:attribute name="MayRequireAnyOf" type="xs:string" />
  </xs:complexType>
</xs:schema>